extends ../layouts/main-layout.pug
include ../mixins/add-to-cart.pug

block styles

block content
    main.centered
        h1 #{product.title}
        hr
        div
            img.detail-image(
                src=product.imageUrl,
                alt=product.title
            )
            h2 $#{product.price}
            p #{product.description}
            +add-to-cart(product.id)
